<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUd16kmKA2Ik_3UDQlHMCEz0IcSvXc1rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>898217032810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vig.vig</string>
	<key>PROJECT_ID</key>
	<string>vigilance-659a3</string>
	<key>STORAGE_BUCKET</key>
	<string>vigilance-659a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898217032810:ios:08b480b66a7af5d122de13</string>
</dict>
</plist>